// Font-family 
$title-font: 'Shrikhand';
$text-font: 'Roboto';

//Font-size 
$base-font-size: 16px;

//Colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$section-color: #F6F6F6;
$card-bg-color: #FFFFFF;


$image-puce1: url("../../assets/Icons/fork-knife.svg");
$image-puce2: url("../../assets/Icons/mains.svg");