.footer {
    background: #353535;
    color: white;
    padding: 2ch;

    @media (min-width: 1254px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 60px;
        padding-right: 50px;
        
    }

    &__title {
        font-family: $title-font;
        font-weight: 400;
        font-style: italic;
        font-style: 18px;
        
    }

    &__content {
        
        &__unordered-list {   

            @media (min-width: 1254px) {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                
                gap: 30px;
            }
        

        a:visited {
            color: white;
        }

        .list-icon1::before {
            content: "\f2e7";
            font-family: "FontAwesome";
            margin-right: 1em;
        }

        .list-icon2::before {
            content: "\f4c4";
            font-family: "FontAwesome";
            margin-right: 0.5em;
        }

        }
    }

}