.loader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    @include flex-center;
    background: $tertiary-color;
    animation: hideLoader 1.5s ease forwards;
  }

  .loader-active {
    display: flex;
  }

  .loader-hidden {
    display: none;
  }
  

.loader::after {
    content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 120px;
        height: 120px;
        margin: -76px 0 0 -76px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #008766;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
}  