// Loader 

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes visibility {
  90%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}








.btn-hover:hover {
  
  background: $light-gradiant;
    p {
      transform: scale(1.02);
    }

}

.heart-empty {
  @include heart-empty;
  

}

.heart-full {
  @include heart-full; 
}


.heart:hover {

    .heart-empty{
      opacity: 0;
    }

    .heart-full{
      opacity: 1;
    }

} 
