html {
    font-size: $base-font-size;
    font-family: $text-font;
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
}

h1 {
    font-family: $title-font;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 500;
}

a{
    outline: none;
    text-decoration: none;
}

a:visited {
    color: black;
}